<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Journelle</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="page">

   <nav>

    <div class="nav-left">

        <a href="{{ url_for('index') }}" class="logo-wrapper">

            <div class="logo-icon">

                J

            </div>

            <div>

                <div class="logo">

                    Journelle

                </div>

                <div class="tagline">

                    Your private AI journal

                </div>

            </div>

        </a>

    </div>

    <div class="nav-right">

        {% if session.get('user_id') %}

        <a href="{{ url_for('index') }}" class="logout-btn">

            New Entry

        </a>

        <a href="{{ url_for('archive') }}" class="logout-btn">

            Archive

        </a>

        <div class="user-pill">

            {{ session.get('username') }}

        </div>

        <a href="{{ url_for('logout') }}" class="logout-btn">

            Logout

        </a>

        {% else %}

        <a href="{{ url_for('login') }}">

            Login

        </a>

        <a href="{{ url_for('signup') }}" class="signup-btn">

            Create Account

        </a>

        {% endif %}

    </div>

</nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}

            {% for message in messages %}

                <div class="flash">

                    {{ message }}

                </div>

            {% endfor %}

        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</div>

</body>
</html>